body{
    padding: 0;
    margin: 0;
}

#given {
    display:block;
    border: 1px red solid;

}

#given input{
    width: 250px;
}

h3 {
    padding: 0;
    margin: 0;
}

#show input{
    width: 60px;
    display: inline;
}

.valuesClass {
    color: black;
}

table {
    
}

td {
    border: red solid 1px;
}

.relationClass {
    border: 5px solid darkblue;
    height: 350px;
    width: 250px;
    display: inline-block;
}

#showRelations {
    display: flex;
}

.valuesClass2 {
    color: green;
}
